
$primary: #337ab7;


.bg{
	background: url(../img/bg4.jpeg) no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(0px);
}
.login {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
	z-index: 1;
	&.well{
		background: rgba(255,255,255,.6);
		border: 0;
	}
	input {
		background: rgba(255,255,255,0);
	}
}
.main {
	.panel-body {
		table {
			thead th {
				span.glyphicon-sort {
					cursor: pointer;
					font-size: 12px;
				}
				&.active {
					background-color: rgba(48,116,175,.3)!important;
				}
			}
			tbody tr{
				td.active {
					&.active {
						background-color: red!important;
						color: white;
					}
				}
				&.primary{
					background-color: $primary!important;
					color: #fff;
					font-weight: bold;
				}
			}
		}
	}
}
